
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
        background: linear-gradient(115deg, #fdfcfb, #e2d1c3);

}

*{
    font-family: 'Quicksand'
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-block: 1rem;

}

.navbar ul{
    display: flex;
    gap: 2rem;
}

.navbar ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
}



.jumbotron{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.jumbotron .jumbotron-description{
    display: flex;
    flex-direction: column;
}

.jumbotron .jumbotron-description .deskripsi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.jumbotron .jumbotron-description .deskripsi .judul{
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
}


.jumbotron .jumbotron-description .deskripsi .penjelasan{
   width: 70%;
   margin-top: 1rem;
   font-size: larger;
   text-align: center;
}

.jumbotron .jumbotron-description .deskripsi .getStarted{
    text-decoration: none;
    color: black;
}


.judul-content{
    text-align: center;
    font-size: large;
}

.process-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


.card-process{
background-color: #ffffff; 
max-width: 24rem; 
border-radius: 0.5rem; 
border-width: 1px; 
border-color: #E5E7EB; 
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
}

.card-process .image-process{
border-top-left-radius: 0.5rem;
border-top-right-radius: 0.5rem; 
max-width: 24rem;
}

.card-process .description-process{
    padding: 1.25rem; 
}

.card-process .description-process .title-process{
margin-bottom: 0.5rem; 
color: #111827; 
font-size: 1.5rem;
line-height: 1rem; 
font-weight: 700; 
letter-spacing: -0.025em; 
}

.card-process .description-process .penjelasan-process{
margin-bottom: 0.75rem; 
color: #374151; 
font-weight: 400; 

}

footer {
            background-color: #ffffff;
            color: #000000;
            text-align: center;
            padding: 1rem;
            font-size: 1rem;
            width: 100%;
            bottom: 0;
            font-weight: 700;
        }


          .card{
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            width: 50%;
            border-radius: 20px;
        }

    
        .card form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            padding: 1rem;
        }

        .card input[type="file"] {
            margin-bottom: 1rem;
        }

        .card img {
            display: none;
            max-width: 100%;
            height: auto;
            margin-bottom: 1rem;
        }

        .card button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
        }

        .card button:hover {
            background-color: #0056b3;
        }

      .konten{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
      }

      .konten .judul-content h2{
        font-size: 2rem;
      }