<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automatic Number Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
    <header>
        <div class="logo">
            <h4>PlateVision</h4>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#getStarted">Feature</a></li>
                <li><a href="">About</a></li>
                <li><a href="#anggota-kelompok">Teammate</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="content" id="home">
            <div class="jumbotron">
                <div class="jumbotron-description">
                    <div class="deskripsi">
                        <h2 class="judul">Instant Recognition, Infinite New Possibilities</h2>
                        <p class="penjelasan">
                            PlateVision adalah aplikasi pendeteksi plat nomor kendaraan otomatis yang menggunakan EasyOcr sebagai teknologi ekstraksi karakter.
                        </p>
                        
                        <a href="#getStarted" class="tombol-get-started">Get Started</a>
                        
                    </div>
                </div>
            </div>
            <div class="konten">
                <div class="judul-content">
                    <h2>Automatic Number Plate Recognition</h2>
                </div>
                {% if fileGambar %}
               <h2>Proses 1 (Gray Image)</h2>
                
               







                <div class="process-container">

                    <div class="card-process">
                        <img src="../{{result.proses1}}" alt="Gray Image" class="image-process">
                        <div class="description-process">
        
                         <h5 class="title-process">Proses 1 : Konversi Ke Grayscale</h5>
        
                         <p class="penjelasan-process">Citra dilakukan konversi dari RGB ke skala abu-abu agar dapat dilakukan filterisasi</p>
       
                        </div>
                    </div>
               

               <div class="card-process">
                    <img src="../{{result.proses2}}" alt="Gray Image" class="image-process">
                    <div class="description-process">
        
                     <h5 class="title-process">Proses 2 : Filterisasi Citra</h5>
        
                     <p class="penjelasan-process">Filterisasi citra menggunakan metode bilaterall filter yang tersedia di openCV</p>
       
                    </div>
                </div>
               

               <div class="card-process">
                    <img src="../{{result.proses3}}" alt="Gray Image" class="image-process">
                    <div class="description-process">
        
                     <h5 class="title-process">Proses 3 : Deteksi Tepi Citra</h5>
        
                     <p class="penjelasan-process">Deteksi Tepi citra menggunakan metode Canny agar dapat diambil titik 4 sudut plat kendaraan sehingga citra dapat di crop</p>
       
                    </div>
                </div>
               

                <div class="card-process">
                    <img src="../{{result.proses4}}" alt="Gray Image" class="image-process">
                    <div class="description-process">
        
                     <h5 class="title-process">Proses 4 : Masking Citra</h5>
        
                     <p class="penjelasan-process">Proses masking citra yang menyisakan bagian plat nomor kendaraan</p>
       
                    </div>
                </div>
               

                <div class="card-process">
                    <img src="../{{result.proses5}}" alt="Gray Image" class="image-process">
                    <div class="description-process">
        
                     <h5 class="title-process">Proses 5 : Citra hasil Crop</h5>
        
                     <p class="penjelasan-process">Citra yang berhasil melalui proses crop </p>
       
                    </div>
                </div>
               

                <div class="card-process">
                    <div class="description-process">
        
                     <h5 class="title-process">Hasil : {{result.ocr_result}}</h5>
        
                     <p class="penjelasan-process">Telah diperoleh hasil ekstraksi karakter dari citra yaitu {{result.ocr_result}}</p>
       
                    </div>
                </div>
                </div>
                


                <button onclick="location.href='/'" class="tombol-kembali">Kembali</button>
                
                {% else %}
                <div class="card" id="getStarted">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" id="imageUpload" name="file" accept="image/*" onchange="previewImage(event)">
                    <img id="preview" src="#" alt="Preview">
                    <button type="submit">Upload</button>
                </form>
    </div>
                {% endif %}

                
            </div>
            <div class="teammate" id="anggota-kelompok">
                    <div class="teammate-container">
                        <div class="teammate-judul">
                            <h2 class="teammate-judul-text">Anggota Kelompok</h2>
                            <p class="teammate-judul-deksripsi">Anggota yang terlibat dalam pengerjaan project akhir mata kuliah PCD</p>
                        </div>
                        <div class="daftar-anggota-kontainer">
                            <div class="anggota-kontainer">
                                <img src="../static/asset/aan.jpeg" alt="" class="gambar-anggota">
                                <h3 class="nama-anggota">Ricko Andreas Kartono</h3>
                                <p>2226250037</p>
                            </div>
                             <div class="anggota-kontainer">
                                <img src="../static/asset/Zaki.jpeg" alt="" class="gambar-anggota">
                                <h3 class="nama-anggota">Muhammad Dzaky Raihan</h3>
                                <p>2226250100</p>
                            </div>
                             <div class="anggota-kontainer">
                                <img src="../static/asset/koniko.jpeg" alt="" class="gambar-anggota">
                                <h3 class="nama-anggota">Nicholas Edison</h3>
                                <p>2226250100</p>
                            </div>
                        </div>
                    </div>
                </div>
            
    </main>
    <footer>Tugas Akhir PCD</footer>
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</body>
</html>